---
layout: default
pagination:
  enabled: true
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {% include post-enumerator.html %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
