<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div> -->

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://gitlab.com/andrej88">
              <span class="icon">{% include icon-gitlab.svg %}</span>
              <span class="username">andrej88</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/andrejp88">
              <span class="icon icon--github">{% include icon-github.svg %}</span>
              <span class="username">andrejp88</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
