<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
        </header>
        <div class="post-content" itemprop="articleBody">
          {{ post.excerpt }}
        </div>
        <p><a href="{{ post.url | prepend: site.baseurl }}">Continue reading</a></p>
      </article>
    </li>
  {% endfor %}
</ul>

{% if paginator.page_trail %}
  <ul class="paginator">
    {% for trail in paginator.page_trail %}
      <li {% if page.url == trail.path %}class="selected"{% endif %}>
          <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}