---
layout: default
title: Stratum Blog Archive
permalink: /stratum/archive/
pagination:
  enabled: true
  category: stratum
  per_page: 20
---

<div class="home">

  <h1 class="page-heading">Post Archive</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.page_trail %}
    <ul class="paginator">
      {% for trail in paginator.page_trail %}
        <li {% if page.url == trail.path %}class="selected"{% endif %}>
            <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
